#main {
    border: 1px solid black;
    background-color: rgb(250, 230, 207);
    width: 600px;
    height: 720px;
    margin-left: auto;
    margin-right: auto;
}
#Envoie {
    border: 1px solid black;
    width: 400px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    padding:10px;
    background-color: rgb(255, 249, 242);
}
#Message {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    max-width: 400px;
    max-height: 320px;
    min-width: 400px;
    min-height: 320px;
    overflow-y:auto;
    overflow-x:hidden;
    padding: 10px;
}
#Textarea {
    max-width: 150px;
    max-height: 50px;
    min-width: 150px;
    min-height: 50px;
}
label
{
    display: block;
}
#clear_button {
    text-align: center;
    margin-bottom: 10px;
}
#block_actu {
    display: block;
    border : 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: left;
    max-width: 200px;
    background-color: rgb(252, 245, 236);
}
#actu{
    border : 1px solid black;
    text-align: center;
    color: black;
    background-color: antiquewhite;
}
#back {
    text-decoration: none;
}