#main {
    border: 1px solid black;
    width: 500px;
    height: 550px;
    padding:10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: antiquewhite;
}
#envoie {
    border: 1px solid black;
    width: 400px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    padding:10px;
    background-color: rgb(255, 249, 242);
}
#message {
    max-width: 150px;
    max-height: 50px;
    min-width: 150px;
    min-height: 50px;
}
#post {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width: 400px;
    height: 320px;
}
label
{
	display: block;
}
#clear_button {
    display: block;
    float: right;
}
#block_actu {
    display: block;
    border : 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: left;
    max-width: 200px;
    background-color: rgb(252, 245, 236);
}
#actu{
    border : 1px solid black;
    text-align: center;
    color: black;
    background-color: antiquewhite;
}